<div *ngIf="mediaFileRecord">
    <!--<omc-video [URL]="'/api/v1/media/' + mediaFileRecord.hash" (onTimeUpdated)="onTimeUpdated($event)"></omc-video>-->
    <video #videoElement autoplay controls [src]="'/api/v1/media/' + mediaFileRecord.hash" (loadeddata)="onLoadedData()" (timeupdate)="onTimeUpdated(videoElement.currentTime)"></video>
    <h2>{{mediaFileRecord.name}}</h2>
    <p>{{mediaFileRecord.description}}</p>
    <!--<md-button (click)="buttonCommand()">sadf</md-button>-->
    {{mediaFileRecord}}
</div>
