<div>
	<md-grid-list class="desktop" cols="4">
		<md-grid-tile *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			{{media.name}}
		</md-grid-tile>
	</md-grid-list>
	<md-grid-list class="tablet" cols="2">
		<md-grid-tile *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			{{media.name}}
		</md-grid-tile>
	</md-grid-list>
	<div class="phone">
		<div *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			{{media.name}}
		</div>
	</div>
</div>
