<div *ngIf="mediaFileRecord" [class]="isFullScreen ? 'omc-fullscreen-background' : ''">
  <!--<omc-video [URL]="'/api/v1/media/' + mediaFileRecord.hash" (onTimeUpdated)="onTimeUpdated($event)"></omc-video>-->
  <vg-player>
    <video [vgMedia]="$any(videoElement)" #videoElement autoplay [vgHls]="videoUrl" id="singleVideo" preload="auto" controls
      (loadeddata)="onLoadedData()" (timeupdate)="onTimeUpdated(videoElement.currentTime)">
      <track kind="subtitles" src="{{subtitleUrl}}">
    </video>
  </vg-player>
  <div [class]="isFullScreen ? 'hide' : 'media-player-info-panel'">
    <div>
      <span style="font-weight: bold">{{mediaFileRecord.name}}</span>
      <span *ngIf="mediaFileRecord.year">({{mediaFileRecord.year}})</span><span *ngIf="mediaFileRecord.season">Season:
        {{mediaFileRecord.season}}
        Episode: {{mediaFileRecord.episode}}</span>
    </div>
    <div>
      {{mediaFileRecord.genres}}
      <a class="button" href="/api/v1/media/{{mediaFileRecord.hash}}/file">CLick here to download orignal file</a><br>
      <a class="button" href="/api/v1/media/{{mediaFileRecord.hash}}">Copy url to stream</a>
    </div>
  </div>
</div>
