<div>
	<!-- <mat-grid-list class="desktop" cols="2">
		<mat-grid-tile *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			{{media.name}}
		</mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list class="tablet" cols="2">
		<mat-grid-tile *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			<p>>{{media.name}}</p>
		</mat-grid-tile>
	</mat-grid-list> -->
	<!-- <div class="phone">
		<div *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			<img [src]="media.thumbnail" />
			{{media.name}}
		</div>
	</div> -->
	<!-- <div>
		<div *ngFor="let media of mediaFileList" (click)="onSelect(media)">
			{{media.name}} ({{media.year}}) <span *ngIf="media.season">Season: {{media.season}} Episode: {{media.episode}}</span> <a href="http://www.imdb.com/title/{{media.imdbNumber}}" *ngIf="media.imdbNumber">Imdb Link</a>
		</div>
	</div> -->
	<mat-list>
		<mat-list-item *ngFor="let media of mediaFileList">
			<button (click)="onSelect(media)">{{media.name}} <span *ngIf="media.year">({{media.year}})</span> <span *ngIf="media.season">Season: {{media.season}} Episode: {{media.episode}}</span></button>
			<a href="http://www.imdb.com/title/{{media.imdbNumber}}" target="_blank" *ngIf="media.imdbNumber">Imdb Link</a>
		</mat-list-item>
	</mat-list>
</div>