@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	/* Height and width fallback for older browsers. */
	/* Set the height to match that of the viewport. */
	height: 100vh;
	/* Set the width to match that of the viewport. */
	width: 100vw;
	/* Remove any browser-default margins. */
	margin: 0;
	color: #61B061;
	background-color: #001600;
}

a:link {
	color: white;
}
a:visited {
	color:white;
}

button {
	background-color: #053505;
	color: #61B061;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:focus {
	border: 5px dashed rgb(255, 255, 255);
}

.primary {
	color: #61B061;
}

.secondary {
	color: #2F792F;
}

.tertiary {
	color: #053505;
}

.desktop {
	display: none;
}

.tablet {
	display: none;
}

.phone {
	display: none;
}

@media only screen and (min-width : 1224px) {
	.desktop {
		display: block !important;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1223px) {
	.tablet {
		display: block !important;
	}
}

@media only screen and (max-width : 767px) {
	.phone {
		display: block !important;
	}

	button {
		padding: 10px;
		margin: 5px;
	}
}

.omc-show-with-seasons-container {
    color: white;
}
.omc-fullscreen-background {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
}

.hide {
	display: none;
}

.omc-fullscreen-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.omc-fullscreen-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

.top-bar span {
	padding: 0px 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
